tqdm
matplotlib

datasets
nltk
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
langchain

seaborn
transformers=4.34.0
sentence_transformers
accelerate
peft
bitsandbytes

wandb
llama-cpp-python

ipykernel
